* {
    -fx-primary: #a855f7;
    -fx-primary-darker: #9333ea;

    -fx-neutral-950: #0a0a0a;
    -fx-neutral-900: #171717;
    -fx-neutral-800: #262626;
    -fx-neutral-700: #404040;
    -fx-neutral-600: #525252;
    -fx-neutral-500: #737373;
    -fx-neutral-400: #a3a3a3;
    -fx-neutral-300: #d4d4d4;
    -fx-neutral-200: #e5e5e5;
    -fx-neutral-100: #f5f5f5;
    -fx-neutral-50: #fafafa;
}
