.barButton {
    -fx-background-color: #454545;
    -fx-text-fill: #ceccce;
    -fx-alignment: center-left;
    -fx-padding: 16px 15px 15px 45px;
}

.barButton:hover {
    -fx-background-color : #1E2019;
}

.barButton:pressed {
    -fx-background-color : #b8b8b8;
}
