.label
{
-fx-text-fill:#393E41;
-fx-background-color: transparent;
-fx-alignment: left;
-fx-font-size : 20px;
-fx-font-weight: 500;
-fx-border-color: black;
-fx-border-radius: 10 10 10 10;
}
.text-field
{
-fx-background-color: transparent;
-fx-font-color: transparent;
-fx-font-size: 18px;
}
.text-field:hover
{
-fx-background-color: transparent;
-fx-font-color: #393E41;
}
.text-field:pressed
{
-fx-background-color: -fx-neutral-700;
-fx-font-color: #393E41;
-fx-font-weight: 600;
}
