.button {
    -fx-background-radius: 6px;
}

.button.primary {
    -fx-background-color: -fx-primary;
}

.button.primary:hover {
    -fx-background-color: -fx-primary-darker;
}

.button.error {
    -fx-background-color: #ef4444;
}

.button.error:hover {
    -fx-background-color: #dc2626;
}

.button.hyperlink {
    -fx-border-width: 0;
    -fx-border-color: none;
}

.button.hyperlink:hover {
    -fx-underline: true;
}
